<ion-view view-title="刊物信息">
  <ion-nav-bar class="bar-royal">
  <!-- <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goback()"></a>
  </ion-nav-buttons> -->
  </ion-nav-bar>
  <ion-header-bar class="bar-subheader  item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索想要的同人志">
    </label>

  </ion-header-bar>
    <ion-content>

        <div class="button-bar">
          <a class="button button-small " ng-click="openSort1($event);">排序</a>
          <a class="button button-small ">热度优先</a>
          <a class="button button-small " ng-click="openSort2($event);">筛选</a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="book in books">
                <img ng-src={{book.ThumbnailURL}}>
<div class='row'>
                <div class='col col-75'>
                <h3>{{book.title}}</h3>
                <p>原作:{{book.origin}}</p>
                <p>CP:{{book.CP}}</p>
                <p>作者:{{book.author}}</p>
                <p>售价:{{book.price}}</p>
              </div>
                <div class='col col-25'>
                  <p><div class='button button-small button-outline button-royal ' >加入清单</div>
                  <p><div class='button button-small button-outline button-royal '>加入收藏</div>
                  <p><div class='button button-small button-clear button-royal '>20 收藏</div>
                </div>
              </div>

            </a>
        </div>
      </ion-content>
</ion-view>
