<ion-view view-title="展会详情">
    <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goback()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-repeat="info in exhibition">
          <div><h3>{{info.subject}}</h3></div>
            <div class="row">

                <div class="Img"> <img ng-src={{info.posterURL}}>
                </div>
                <div class="col" >

                    <div>
                    <a class="button button-small icon-left ion-ios-barcode button-clear button-royal" ng-href="#/app/tickect/{{info.id}}">
                    网上购票
                    </a></div>
                    <div class="ticket">
                    <a class="button button-small icon-left ion-ios-analytics button-clear button-royal" ng-href="#/app/tickect/{{info.id}}">
                    申请摊位
                    </a></div>
                    <div class="ticket">
                    <a class="button button-small icon-left ion-ios-book button-clear button-royal" ng-href="#/app/tickect/{{info.id}}">
                    摊位列表
                    </a></div>
                    <div class="ticket">
                    <a class="button button-small icon-left ion-ios-analytics button-clear button-royal" ng-href="#/app/tickect/{{info.id}}">
                    场地图
                    </a></div>
                    <div class="ticket">
                    <a class="button button-small icon-left ion-ios-bookmarks button-clear button-royal" ng-click="openModal()">
                    加入行程
                    </a></div>

                    <div class="ticket">
                    <a class="button button-small button-clear button-royal">
                    20 收藏
                    </a></div>
                </div>

            </div>
            <div class="row">
                <div class="col">开始时间: </div>
                <div class="col col-75">{{info.startTime}}</div>
            </div>
            <div class="row">
                <div class="col">结束时间: </div>
                <div class="col col-75">{{info.endTime}}</div>
            </div>
            <div class="row">
                <div class="col">展览地点： </div>
                <div class="col col-75">{{info.address}}<span><a ng-href="#/app/map/{{info.address}}/{{info.id}}">查看路线</a></span> </div>
            </div>
            <div class="row">
                <div class="col">售票方式：</div>
                <div class="col col-75"> {{info.ticket}}</div>
            </div>
            <div class="row">
                <div class="col">联系方式：</div>
                <div class="col col-75"> {{info.contact}}</div>
            </div>
            <!-- <div class="row" >
                <div class="col">类别：</div>
                <div class="col col-75" > <div ng-repeat="cat in info.artCategory">{{cat.cateName}}</div></div>
            </div> -->
            </br>

            <div class="item item-body">
                <h2>展会详情</h2>
                <div class="desc">{{info.decsription}}</div>
            </div>
            <div class="item">
                <span class="recommend"><h2>参展作品  </h2></span>
                <span class="more"><a ng-href="#/tabs/books/{{info.id}}">更多></a></span>
                <br>
                <ion-slide-box does-continue="true" auto-play="false" show-pager="true">
                <ion-slide ng-repeat="ad in adBooks">
                  <div class="row" >
                    <div class="col-30">
                      <div class="card" >
                        <div><img width="100%" height=100px ng-src="{{ad.url[0]}}" ng-click="myCheck()"/></div>
                        <div>{{ad.cp[0]}}</div>
                        <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" >{{ad.title[0]}}</div>
                      </div>
                    </div>

                    <div class="col-30">
                      <div class="card" >
                        <div><img width="100%" height=100px ng-src="{{ad.url[1]}}" ng-click="myCheck()"/></div>
                        <div>{{ad.cp[1]}}</div>
                        <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" >{{ad.title[1]}}</div>

                      </div>
                    </div>

                    <div class="col-30">
                      <div class="card" >
                        <div><img width="100%" height=100px ng-src="{{ad.url[2]}}" ng-click="myCheck()"/></div>
                        <div>{{ad.cp[2]}}</div>
                        <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" >
                          {{ad.title[2]}}
                        </div>

                      </div>
                    </div>
                  </div>
              </ion-slide>
              </ion-slide-box>
            </div>
            <div class="item item-body">
                <h2>我有话要说</h2>
                
                <div class="list">

                </div>
            </div>
            <div class="item tabs tabs-icon-left tabs-color-royal">
                    <a class="tab-item" on-tap="dofav('收藏');">
                        <i class="icon ion-ios-heart"></i> 收藏
                    </a>
                    <a class="tab-item" on-tap="dolik('赞');">
                        <i class="icon ion-chatbox-working"></i>咨询
                    </a>
                    <a class="tab-item" on-tap="dolik('赞');">
                        <i class="icon ion-edit"></i> 修改
                    </a>
                    <a class="tab-item" on-tap="dolik('赞');">
                        <i class="icon ion-ios-trash"></i> 删除
                    </a>
                    <a class="tab-item" ng-click="openPopover($event);" >
                        <i class="icon ion-share"></i> 分享
                    </a>
            </div>
        </div>
    </ion-content>
</ion-view>
