<ion-view view-title="展会信息">
<ion-nav-bar class="bar-royal">
    <!-- <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="app.tabs.main"></a>
    </ion-nav-buttons> -->
</ion-nav-bar>
    <ion-content>
        <!-- <ion-list > -->
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    选择城市
                </div>
                <select ng-change="changeCity(cityValue)" ng-model="cityValue">
                    <option ng-repeat="city in cities" value="{{city.name}}" ng-selected="cityValue == city.name">
                        {{city.name}}
                    </option>
                </select>
            </label>
        </div>
        <div class="list" >
            <a class="item item-thumbnail-left" ng-href="#/app/exhibitions/{{exhibition.id}}"  ng-repeat="exhibition in exhibitions" >
                <img ng-src="{{exhibition.posterURL}}">
                <h2>展会主题：{{exhibition.subject}}</h2>
                <p>展馆：{{exhibition.venue}}</p>
                <p>开始日期：{{exhibition.startDate}}</p>
                <p>结束日期：{{exhibition.endDate}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
