<ion-view view-title="首页">
    <ion-tabs class="tabs-icon-top tabs-background-royal tabs-color-light">
        <ion-tab title="首" icon="ion-ios-home" href="#/app/tabs/main">
            <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="展" icon="ion-image" href="#/app/tabs/exhibitions">
            <ion-nav-view name="exhibitions-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="本" icon="ion-images" href="#/app/tabs/books/null">
            <ion-nav-view name="books-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="周" icon="ion-images" href="#/app/tabs/products/null">
            <ion-nav-view name="products-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我" icon="ion-person" href="#/app/tabs/profile">
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view view-title>
